{% extends 'base.html' %}
{% load static %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'flashcards/style.css' %}">{% endblock %}
{% block title %}Add Card to Collection{% endblock %}
{% block content %}
    <h1>Which collection do you want to add "{{ flashcard.word }}" to?</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Add to Collection</button>
    </form>
    <a href="{% url 'SpeakNoy:card' flashcard.pk %}" class="btn-secondary">Cancel</a>
{% endblock %}