{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'flashcards/style.css' %}">
{% endblock %}

{% block title %}{{ flashcard.word }}{% endblock %}
{% block content %}
    <div class="modal-overlay">
            <div class="modal-content">
                <h1>{{ flashcard.word }}</h1>

                <div id="rearOfCard" style="display:none;">
                    <ul style="list-style: none; padding: 0;">
                        <li>{{ flashcard.pronunciation }}</li>
                        <li>{{ flashcard.definition }}</li>
                        <li>{{ flashcard.purpose }}</li>
                        <li>{{ flashcard.dialect }}</li>
                    </ul>
                </div>
                
                <button id="flip" class='btn-primary'>Flip Card</button>
                <a href="{% url 'SpeakNoy:cardlist' %}" class="btn-close">⨉ Close Card</a>
                <a href="{% url 'SpeakNoy:add_to_collection' flashcard.pk %}" class="btn-primary">Add to Collection...</a>
                <a href="{% url 'SpeakNoy:publicspace-upload-card' flashcard.pk %}" class="btn-primary">Add to Public Space</a>
                <a href="{% url 'SpeakNoy:publicspace-save-card' flashcard.pk %}" class="btn-primary">Save Card</a>
                <a href="{% url 'SpeakNoy:publicspace-remove-card' flashcard.pk %}" class="btn-primary">Remove from Public Space</a>
                {% if flashcard.cardtype == "Custom" %}
                    <form method="POST" action="{% url 'SpeakNoy:cardremove' flashcard.pk %}">
                        {% csrf_token %}
                        <button type="submit" id="discard" class="btn-discard">Discard</button>
                    </form>
                {% endif %}
        </div>
    </div>

    <script>
        const flipButton = document.getElementById('flip')
        const rearOfCard = document.getElementById('rearOfCard')

        flipButton.addEventListener('click', function () {
            if (rearOfCard.style.display === "none") rearOfCard.style.display = "block";
            else rearOfCard.style.display = "none";
        });
    </script>
{% endblock %}

    <div class="modal-overlay">
            <div class="modal-content">
                <h1>{{ flashcard.word }}</h1>

                <div id="rearOfCard" style="display:none;">
                    <ul>
                        <li>{{ flashcard.pronunciation }}</li>
                        <li>{{ flashcard.definition }}</li>
                        <li>{{ flashcard.purpose }}</li>
                        <li>{{ flashcard.dialect }}</li>
                    </ul>
                </div>

                <button id="flip" class='btn-primary'>Flip Card</button>
                <a href="{% url 'SpeakNoy:add_to_collection' flashcard.pk %}" class="btn-primary">Add to Collection...</a>
                <a href="{% url 'SpeakNoy:cardlist' %}" class="btn-close">⨉</a>
            </div>
        </div>