<!DOCTYPE html>
{% load static %}

<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}{% endblock %} | SpeakNoy</title>
        {% block extra_css %}{% endblock %}
    </head>

    <body>
        Logged in as {{ user.username }}
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout-btn">Logout</button>
        </form>
        {% block content %}{% endblock %}
    </body>
</html>